body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

\\проверка на блуд form {
  max-width: 400px;
  margin: 100px auto;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input,
form textarea,
form button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form .main-text {
  display: flex;
  justify-content: center;
}

.order-checkbox {
  display: flex;
}

.hidden {
  display: none;
}
