<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <title>Проверка на админа</title>
</head>
<body>
<div class="main-text">Проверка на админа</div>
<form
        th:action="@{/admin}"
        th:object="${adminData}"
        method="post"
        id="tableForm"
        onsubmit="return false"
>
    <label for="name">Имя</label>
    <input
            type="text"
            id="name"
            name="name"
            th:field="*{name}"
            placeholder="Имя админа"
            required
    />
    <br />
    <br />
    <label for="password">Пароль</label>
    <input
            type="password"
            id="password"
            name="password"
            th:field="*{password}"
            placeholder="Пароль"
            required
    />

    <div id="messageDiv">
        <p id="message" class="hidden"></p>
    </div>

    <div class="btn-container">
        <button type="submit" onclick="checkAndLogin()" class="button-action" id="submitButton">Войти</button>
    </div>
    <div class="btn-container">
        <button type="submit" onclick="location.href = '/';" class="button-action" id="back">назад</button>
    </div>
</form>
<script type="text/javascript" th:src="@{/js/adminAut.js}"></script>
</body>
</html>