<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  <title>Лучший ресторан эвер</title>
</head>
<body>
<header class="header">
  <div class="wrapper">
    <div class="header-content">
      <img th:src="@{/img/Logo.png}" alt="Tilisi" />

      <nav class="header_nav">
        <ul class="header_nav-list">
          <li class="header_list-item">
            <a class="header__list-item-btn" href="#">домой</a>
          </li>
          <li class="header_list-item">
            <a class="header__list-item-btn" href="#">о ресторане</a>
          </li>
          <li class="header_list-item">
            <a class="header__list-item-btn" href="#">меню</a>
          </li>
          <li class="header_list-item">
            <a class="header__list-item-btn" href="#">новости</a>
          </li>
          <li class="header_list-item">
            <a class="header__list-item-btn" href="#">контакты</a>
          </li>
        </ul>
      </nav>

      <a class="header_btn" href="/tables">Забронировать</a>
    </div>
  </div>
</header>
<main class="main">
  <div class="wrapper">
    <div class="intro intro-disable"></div>
    <div class="section section-disable">
      <div class="section-block">
        <div class="section-items">
          <div class="section-item items-group">
            <img
                    th:src="@{/img/Delicious lobster gourmet seafood.png}"
                    alt=""
            />

            <img
                    th:src="@{/img/Side view cook making delicious pasta.png}"
                    alt=""
            />
          </div>
          <div class="section-item">
            <img th:src="@{/img/Delicious pasta on plate.png}" alt="" />
          </div>
        </div>
      </div>
      <div class="section-block">
        <div class="section-text">
          Lorem ipsum dolor sit amet, qui blanditiis praesentium voluptatum
          deleniti atque corrupti, quos dolores et quas molestias excepturi
          sint, ut aut reiciendis voluptatibus maiores alias consequatur aut
          perferendis doloribus asperiores repellat! Quis autem vel eum iure
          reprehenderit, unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam eaque ipsa,
          nisi ut aliquid ex ea commodi consequatur! Ut enim ad minim
          veniam, unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam eaque ipsa, velit esse
          cillum dolore eu fugiat nulla pariatur.
        </div>
      </div>
    </div>

    <div class="section section-disable">
      <div class="section-block">
        <div class="section-text">
          Temporibus autem quibusdam et aut officiis debitis aut rerum
          necessitatibus saepe eveniet, qui blanditiis praesentium
          voluptatum deleniti atque corrupti, quos dolores et quas molestias
          excepturi sint, quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt, explicabo. Sed ut
          perspiciatis, unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam eaque ipsa,
          qui dolorem eum fugiat, quo voluptas nulla pariatur! Et harum
          quidem rerum facilis est et expedi ta distinctio, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Excepteur sint occaecat cupidatat non
          proident, quia voluptas sit, aspernatur aut odit aut fugit, sed
          quia consequuntur magni dolores eos, qui ratione voluptatem sequi
          nesciunt,...
        </div>
      </div>

      <div class="section-block">
        <div class="section-items">
          <div class="section-item">
            <img
                    th:src="@{/img/Top view delicious pasta on plate.png}"
                    alt=""
            />
          </div>
          <div class="section-item items-group">
            <img
                    th:src="@{/img/Pasta in the shape heart salad with tomatoes, cucumbers, olives, mozzarella and red onion greek style. flat lay. top view.png}"
                    alt=""
            />

            <img th:src="@{/img/Friied eggs with vegetables.png}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer footer-disable">
  <div class="wrapper">
    <div class="footer_content">
      <div class="footer_container">
        <div>Наш телефон:</div>
        <b>+7(909)565-34-56</b>
      </div>
      <div class="footer_container">
        <div>График работы:</div>
        <b>ВС-ЧТ - 12:00-00:00</b>
        <b>ПТ-СБ - 12:00-05:00</b>
      </div>
      <div class="footer_container">
        <div>Прийти к нам:</div>
        <b>Краснодар, Ставропольская, 23</b>
      </div>
    </div>
  </div>
</footer>
</body>
</html>