<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ваш заказ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script type="text/javascript">
      //чтобы нельзя было нажать "назад" и вернуться сюда после получения номера заказа
      window.history.forward();
    </script>
  </head>
  <body>
  <div class="blurred-background"></div>
  <!-- href="../static/order.css" -->
  <div class="result">
    <div class="main-text">Проверьте информацию о заказе</div>

    <div class="table" th:object="${orderData}" id="orderInfo">
      <p class="result-row" th:text="'ФИО: ' + *{fullName}">ФИО: значение</p>
      <p class="result-row" th:text="'Номер телефона: ' + *{phoneNumber}">
        Номер телефона: значение
      </p>
      <p class="result-row" th:text="'Дата бронирования: ' + *{#temporals.format(date, 'dd.MM.yyyy')}">
        Дата
      </p>
      <p class="result-row" th:text="'Время бронирования: ' +  *{#temporals.format(time, 'HH:mm')}">
        Время
      </p>
      <p
              class="result-row"
              th:text="'Количество персон: ' + *{numberOfPeople}"
      >
        Количество персон: значение
      </p>

      <p class="result-row" th:text="'Сейчас заказывать: ' + *{orderNow}">
        Сейчас заказывать: значение
      </p>

      <p class="result-row" th:text="'Комментарий: ' + *{comment}">
        Комментарий: значение
      </p>
    </div>
    <div class="btn-container">
      <button
              class="button-action"
              type="button"
              onclick="location.href = '/reservation'"
      >
        Надо кое-что исправить...
      </button>
      <button
              class="button-action"
              onclick="location.href = '/processedOrder'"
      >
        Всё верно!
      </button>
    </div>
  </div>
  </body>
</html>