<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ваш заказ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/order.css}" />
  </head>
  <body>
    <!-- href="../static/order.css" -->
    <div class="result">
      <h1 class="main-text">Проверьте информацию о заказе</h1>

      <div class="table" th:object="${orderData}" id="orderInfo">
        <p class="result-row" th:text="'ФИО: ' + *{fullName}">ФИО: значение</p>
        <p class="result-row" th:text="'Номер телефона: ' + *{phoneNumber}">
          Номер телефона: значение
        </p>
        <p class="result-row" th:text="'Время бронирования: ' + *{dateTime}">
          Дата и время
        </p>
<!--        <p class="result-row" th:text="'Столик: ' + *{tableNumber}">-->
<!--          Столик: значение-->
<!--        </p>-->
        <p
          class="result-row"
          th:text="'Количество персон: ' + *{numberOfPeople}"
        >
          Количество персон: значение
        </p>

        <p class="result-row" th:text="'Сейчас заказывать: ' + *{orderNow}">
          Сейчас заказывать: значение
        </p>

        <p class="result-row" th:text="'Комментарий: ' + *{comment}">
          Комментарий: значение
        </p>
      </div>
      <div class="choose-operation">
        <button onclick="location.href = '/processedOrder'">Всё верно!</button>
        <button type="button" onclick="location.href = '/reservation'">Надо кое-что исправить...</button>
      </div>
    </div>
  </body>
</html>
