<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Бронирование столика</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  </head>
  <body>
    <form th:object="${orderData}" method="post" id="tableForm">
      <div class="main-text">Выберите дату бронирования</div>

      <label for="dateTime">Дата и время:</label>
      <input
        type="datetime-local"
        id="dateTime"
        th:field="*{dateTime}"
        required
      /><br />

      <label for="numberOfPeople">Количество человек:</label>
      <input
        type="number"
        id="numberOfPeople"
        th:field="*{numberOfPeople}"
        required
      /><br />
      <br />
      <div class="btn-container">
        <button class="button-action" type="submit">Далее</button>
      </div>
    </form>
  </body>
</html>
